<div class="Bodyclas">
  
    <video autoplay muted loop id="backVideo">
      <source src="../../../assets/background — копия/backgroundLogin.mp4" id="video" type="video/mp4">
    </video>

    <div class="container px-4 py-5 mx-auto">
      <div class="card card0">
          <div class="d-flex flex-lg-row flex-column-reverse">
              <form class="card card1" (ngSubmit)="submitLogin()">
                  <div class="i-fo">
                      <a href="#1" class="nav-link text-dark" [routerLink]="['/']"><i class="fas fa-arrow-circle-left bf"></i></a>
                  </div>
                  <div class="row justify-content-center my-auto">
                      <div class="col-md-8 col-10 my-5">
                          <div class="row justify-content-center px-3 mb-3">
                              <img id="logo" src="logo1.png" >
                          </div>
                          <h6 class="msg-info">Please login to your account</h6>
                          <div class="form-group"> <label class="form-control-label text-muted">Username</label>
                              <input type="text" [(ngModel)]="model.Email" id="email" name="Email" placeholder="Enter your email"
                                  class="form-control">
                          </div>
                          <div class="form-group"> <label class="form-control-label text-muted">Password</label>
                              <input type="password"  [(ngModel)]="model.Password" id="psw" name="Password" placeholder="Password" class="form-control">
                          </div>
                          <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color">Submit</button> </div>
                          <div class="row justify-content-center my-2"> <a href="#"><small class="text-muted">Forgot
                                      Password?</small></a> </div>
                      </div>
                  </div>
                  <div class="bottom text-center mb-5">
                      <p href="#" class="sm-text mx-auto mb-3">Don't have an account?
                              <a class="btn btn-white ml-2" [routerLink]="['/register']">Create new </a></p>
                  </div>
              </form>
              <div class="card card2">
    
                  <div class="my-auto mx-md-5 px-md-5 right">
                      <h3 class="text-white">We are more than just a site</h3>
                      <small class="text-white">Game Area is the ultimate destination for playing, discussing, and
                          creating games. Read reviews, explore custom recommendations, and more...</small>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>