@charset "UTF-8";

.bood {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    width: auto;
    background-color: rgb(24, 24, 24);
    background-repeat: no-repeat;
}

#backVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.card-deck{
    margin: 50px 80px;
    /* background-color: rgb(39, 37, 37); */

}

.card{
    background-color: #16161694 !important;
    color: rgb(196, 196, 196);
}

.carouselst{
  width: 800px;
  height: 450px;
  margin: 30px auto;

}
footer {
    height: 80px;
    width: 100%;
    margin-top: 80px;
    background: #0e0e0e;
    text-align:center;
    font-size:42px;
  }
  * {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  float: right;
  margin-right: 350px;
  margin-top: 460px;
  margin-bottom: 10px;
}
input, button {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 100%;
  height: 42px;
  background: #1b1b1b;
  padding-left: 15px;
  color: rgb(255, 255, 255);
}
button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #1b1b1b;
  cursor: pointer;
}
button:before {
  font-size: 20px;
  font-weight: bold;
}
.footimg{
    width: 90px;
    height: 70px;
}
.nav{
    background: #1b1b1b !important;
}
a{
    color: rgb(196, 196, 196) !important;

}
.search{
    background-color: rgb(44, 44, 44) !important;
    border:none;
    color: rgb(228, 228, 228) !important;
    width: 250px !important;
}
.btn{
    color: blueviolet;
    border: none;
    width: 30px;
    height: 30px;
    padding: 3px;

}